div.container {
    border-style: dotted;
    border-width: 0px;
    border-color: deeppink;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-botom: 0;
    max-width: 423.4px;
    height: 95vh;
    margin: auto;
}