.title {
    text-align: center;
    color: teal;
    border: dotted darkmagenta 2px;
    font-size: 30px;
    cursor: pointer
}
div.row {
    width: 100%;
    border-width: 1px;
    border-style: dotted;
    border-color: gray;
    text-align: center;
}

div.container {
    border-style: dotted;
    border-width: 1px;
    border-color: deeppink;
    max-width: 420px;
    height: 90vh;
    margin: auto;
}