
div.floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -10px;
}
div.inline {
    display: inline-block;
    width: 20%;
    height: 35vh;
    border-width: 2px;
    border-style: solid;
    border-color: teal;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: teal;
    font-family: Tahoma;
    font-size: 20px;
    font-style: italic;
    vertical-align: middle;
}